body {
	margin: 0 auto;
	height: 100%;
	
	line-height: 100%;
	
	background-image: url("img/GrayPaper.png");
	background-position: 50% 50%;
	background-repeat: repeat;
}

header{
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	
	padding: 20px 30px 20px 30px;
	
	/*overflow: auto;*/
	
	background-image: linear-gradient(to top,rgba(244,244,244,0.9),rgba(256,256,256,0.1)),url("img/CyanPaper.png");
	background-position: 50% 50%,50% 50%;
	background-repeat: no-repeat,repeat;
	
	justify-content:center;
}

main{
	padding: 10px 10px 10px 10px;
	margin: 0 auto;
	height: 100%;
	line-height: 100%;
}

footer{
	background-image: linear-gradient(to top,rgba(222,222,222,0.9),rgba(222,222,222,0.5));
	background-position: 50% 50%;
	background-repeat: no-repeat;
	
	clear: both;
	
	position: absolute;/*temp*/
	bottom: 0;
	left: 0;
	right: 0;
	
	border-top: 1px solid #999999;
	
	padding: 10px 10px 10px 10px;
	
    text-align: center;
}

/*clearfix*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1; /*For IE 6&7 only*/
}

/*header*/
header .title{
	float:left;
	
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 30px;
	line-height: 1.5;
	font-style: italic;
	cursor: pointer;
}
header nav{
	float:right;
	text-align: center;
}
header nav a{
	margin: 0px 10px 0px 10px;
	Display:inline;
	
	text-decoration: none;
	color: #555555;
	font-weight: bold;
	font-size: 20px;
	line-height: 1.5;
	cursor: pointer;
}

/*footer*/
.footer-link{
	margin: 10px;
    display: inline-flex;
}
.footer-link ul{
    display: inline;
}
.footer-link ul li{
	margin: 0px 0px 0px 0px;
    display: inline;
}

/*link font*/
.link-font{
}


